<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Erro 500</title>
  </head>
  <body>
    <h1>Um erro ocorreu :(</h1>
    <p>Nosso time está correndo para corrigi-lo.</p>
  </body>
</html>
